In [2]:
import string
import re
import nltk
import pandas as pd
from nltk.corpus import stopwords

In [32]:
pd.set_option('display.max_colwidth',200)

m = pd.read_csv('spam.csv')
m = m.drop(labels=['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis =1)
m.columns = ['label','text']
m.head()

,label,text
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"

In [13]:
sw = stopwords.words('english')

In [20]:
def ct(x):
    t = ''.join(w.lower() for w in x if w not in string.punctuation)
    t = re.split('\W',t)
    t = [w for w in t if w not in sw]
    return t

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(analyzer =ct)
tf = tfidf.fit_transform(m['text'])

print(tf.shape)
print(len(tfidf.get_feature_names()))
tf

(5572, 9394)
9394

<5572x9394 sparse matrix of type '<class 'numpy.float64'>'
	with 51104 stored elements in Compressed Sparse Row format>

In [25]:
xf = pd.DataFrame(tf.toarray())
xf.head()

,0,1,2,3,4,5,6,7,8,9,...,9384,9385,9386,9387,9388,9389,9390,9391,9392,9393
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Random Forest Classifier

In [29]:
from sklearn.metrics import recall_score, precision_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [33]:
a,d,s,f = train_test_split(xf,m['label'], test_size = 0.2)

In [34]:
rf = RandomForestClassifier()

In [35]:
rfm = rf.fit(a,s)

In [36]:
g = rf.predict(d)

In [39]:
p = precision_score(f,g, pos_label = 'spam')
r = recall_score(f,g, pos_label = 'spam')

print('precison : {} \nrecall : {:.3f}'.format(p,r))

precison : 1.0
recall : 0.833