In [1]:
import pandas as pd

q = pd.read_csv('mail_data.csv')
q.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [2]:
q.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [3]:
q.replace({'Category':{'ham':0,'spam':1}}, inplace = True)

In [4]:
q.shape

(5572, 2)

In [5]:
q['Category'].value_counts()

0    4825
1     747
Name: Category, dtype: int64

In [6]:
X = q['Message']
y = q['Category']

In [7]:
from sklearn.model_selection import train_test_split

a,d,s,f = train_test_split(X,y, test_size = 0.2, random_state = 9)

In [8]:
a

2036        Simply sitting and watching match in office..
3516                     I'm job profile seems like bpo..
3134                            So no messages. Had food?
4280    URGENT. Important information for 02 user. Tod...
5       FreeMsg Hey there darling it's been 3 week's n...
                              ...
5014    Uncle G, just checking up on you. Do have a re...
1787    Do you know why god created gap between your f...
501     Fighting with the world is easy, u either win ...
4444    You know my old Dom I told you about yesterday...
382     Yeah sure, give me a couple minutes to track d...
Name: Message, Length: 4457, dtype: object

In [9]:
d

51      A gram usually runs like  &lt;#&gt; , a half e...
1470    7 wonders in My WORLD 7th You 6th Ur style 5th...
4564    Come around  &lt;DECIMAL&gt; pm vikky..i'm ots...
1854    I just made some payments so dont have that mu...
3272    You have 1 new voicemail. Please call 08719181...
                              ...
1275    Let me know how to contact you. I've you settl...
287                                                  Ok..
2529                     jay says he'll put in  &lt;#&gt;
779     Happy New year my dear brother. I really do mi...
1195                                        Ok... C ya...
Name: Message, Length: 1115, dtype: object

In [10]:
print(a.shape, s.shape, d.shape, f.shape)

(4457,) (4457,) (1115,) (1115,)

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

t = TfidfVectorizer(min_df =1, stop_words = 'english', lowercase = True)

In [12]:
a = t.fit_transform(a)
d = t.transform(d)

In [13]:
print(a)

  (0, 4751)	0.3995480735031329
  (0, 4246)	0.46853319461766263
  (0, 7183)	0.38811046427357665
  (0, 6016)	0.48487537059673974
  (0, 5994)	0.48487537059673974
  (1, 1425)	0.6117395117581471
  (1, 3985)	0.29337092325522474
  (1, 5281)	0.6117395117581471
  (1, 3704)	0.40679606794582573
  (2, 2839)	0.7071067811865476
  (2, 4321)	0.7071067811865476
  (3, 1127)	0.28704992173361965
  (3, 6442)	0.2711563664312599
  (3, 2691)	0.2745670671412955
  (3, 1845)	0.20742116622566584
  (3, 6978)	0.2922841293900595
  (3, 7404)	0.1948799373403916
  (3, 3422)	0.24739685489219274
  (3, 4051)	0.2680188259240245
  (3, 2113)	0.16610957105957078
  (3, 4128)	0.262409511764221
  (3, 6726)	0.1771628750916276
  (3, 6999)	0.27830306706658076
  (3, 8)	0.2922841293900595
  (3, 3551)	0.2680188259240245
  :	:
  (4454, 1792)	0.18697826514183577
  (4454, 2443)	0.17161518133998263
  (4454, 1488)	0.16954530665822445
  (4454, 6114)	0.21257074773064358
  (4454, 7363)	0.16761829943130407
  (4454, 7286)	0.30137721458705735
  (4455, 2336)	0.39204652784738997
  (4455, 5651)	0.360844745223156
  (4455, 7453)	0.29070539959365477
  (4455, 7162)	0.29070539959365477
  (4455, 4633)	0.22433571591381757
  (4455, 6780)	0.30445204982027557
  (4455, 4775)	0.29070539959365477
  (4455, 6735)	0.24805935441739504
  (4455, 3098)	0.18681902332864916
  (4455, 5094)	0.30445204982027557
  (4455, 4288)	0.23533969908632724
  (4455, 3833)	0.18341579188139398
  (4455, 6726)	0.20345065643996996
  (4456, 7147)	0.5250719855859484
  (4456, 6788)	0.4588381913833921
  (4456, 7440)	0.30819507422443093
  (4456, 1980)	0.4222951138240207
  (4456, 6436)	0.32637060297827974
  (4456, 4360)	0.3659669201671052

In [14]:
print(d)

  (0, 7007)	0.27575306464804655
  (0, 5810)	0.2447749250270012
  (0, 5695)	0.29382844166591665
  (0, 4122)	0.2933357834983407
  (0, 3985)	0.14779130777445093
  (0, 3200)	0.2100686422692192
  (0, 3154)	0.2929681501251352
  (0, 3115)	0.6163513510941001
  (0, 3020)	0.25495444946532553
  (0, 2477)	0.30817567554705005
  (1, 7363)	0.15684369333965079
  (1, 7345)	0.20950345642549728
  (1, 6977)	0.6176187814941599
  (1, 6364)	0.19487782208412452
  (1, 6080)	0.14998676778631465
  (1, 6069)	0.157729714980039
  (1, 4997)	0.20950345642549728
  (1, 4566)	0.1989065709601081
  (1, 4449)	0.13704147500053365
  (1, 4102)	0.18306512971532218
  (1, 3083)	0.10944139546063751
  (1, 2911)	0.17869914860794472
  (1, 2124)	0.12871864364659943
  (1, 628)	0.20950345642549728
  (1, 603)	0.20950345642549728
  :	:
  (1110, 1923)	0.30946000429273907
  (1111, 4764)	1.0
  (1112, 5768)	0.531384885362176
  (1112, 4122)	0.3538603839864588
  (1112, 4033)	0.3445992570586577
  (1112, 3671)	0.5905597191540818
  (1112, 3154)	0.3534168960319472
  (1113, 7441)	0.25764953044493066
  (1113, 7309)	0.3532276726210708
  (1113, 6589)	0.19501696276068003
  (1113, 5844)	0.19352310978438073
  (1113, 5450)	0.2271063863257865
  (1113, 4706)	0.22177667697229972
  (1113, 4613)	0.21051711201529422
  (1113, 4369)	0.23463954640121895
  (1113, 3750)	0.16570647083786832
  (1113, 3231)	0.2264813482920362
  (1113, 3230)	0.31285183230378055
  (1113, 3098)	0.18287546011210587
  (1113, 2134)	0.3048179345381055
  (1113, 2124)	0.21702261000356374
  (1113, 1476)	0.2869513405742843
  (1113, 755)	0.3174944846934284
  (1114, 7427)	0.8297209633609192
  (1114, 4764)	0.5581783970733982

In [15]:
from sklearn.linear_model import LogisticRegression

m = LogisticRegression()
m.fit(a,s)
g = m.predict(d)

In [16]:
from sklearn.metrics import accuracy_score

print('accuracy_score : ',accuracy_score(f,g))

accuracy_score :  0.9650224215246637

In [17]:
z = ["FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, £1.50 to rcv"]
z = t.transform(z)
m.predict(z)

array([0], dtype=int64)